<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/post_list.css">
    <title>게시판</title>
</head>
<body>
    <div id="box">
        <%- include('partials/header') %>

        <main>
            <div class='picture'>
                <img src="/image/unsplash.jpg" alt="img">
            </div>
            <aside class="find_post">
                <ol>
                    <% for(const post of posts) { %>
                        <div class='post_article'>
                            <% if(post.mini_title) { %>
                                <strong class='tit_chap'><%= post.mini_title %></strong>
                            <% } %>
                            <a href="/border?id=<%= post.id %>" class = 'posts'>
                                <li>
                                    <em class = 'page_num'><%= post.id %></em>
                                    <div class='wrap_cont'>
                                        <strong class = 'tit_post' name = 'title'><%= post.title %></strong>
                                        <span class = 'description' name = 'description'><%= post.description %></span>
                                        
                                    </div>
                                    <ol class = 'semi_title'>
                                        <li class = 'publisher' name='publisher'>작성자 : <%= post.publisher %></li>
                                        <li class = 'created_at' name = 'created_at'>게시일 : <%= post.created_at %></li>
                                    </ol>
                                    
                                </li>
                            </a>
                        </div>
                    <% } %>
                </ol>
            </aside>
        </main>
        <%- include('partials/footer') %>
    </div>

</body>
</html>